*{
    margin: 0;
    padding: 0;
}
body{
    background-image:linear-gradient(red,black);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100%;
    background-color: rgb(179, 11, 11);
    box-shadow: 0 0 15px 0 rgb(99, 24, 24);
}

.nav .logo img{
    width: 60px;
    border-radius: 50%;
}
.nav .logo{
    width: 100%;
    margin-left: 2%;
    margin-top: 1%;
    
}
.nav .items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.nav .items a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px 10px 5px 10px;
    transition: 0.2s;
}
.nav .items a:hover{
    background-color: rgb(207, 34, 34);
    text-shadow: 1px 1px black;
    border-radius: 5px;
    transition: 0.2s;
}


.co-main{
    width: 300%;
    display: flex;
    height: 30vh;

} 

.co-main .img1 img{
    width: 100%;
    
}

.co-main .img2 img{
    width: 100%;
  
}
.co-main .img3 img{
    width: 100%;
    
}

.slideshow {
    height: 100%;
    overflow: hidden; /* to hide slides in x-direction */
    position: relative;
}
/* wrapper which wraps all the slideshow images stylings */
.slideshow-wrapper {
    display: flex;
    /* We give it width as 400% because we are making a 
       4 image carousel. If you want to make for example, 
       5 images carousel, then give width as 500%. */
    width: 400%;
    height: 100%;
    position: relative;
    /* you can change the animation settings from below */
    animation: slideshow 20s infinite;
 }
/* define width and height for images*/
.slide {
    width: 100%;
    height: 100%;
}
.slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
/* @keyframes are used to provide animations
   We make these settings for 4 image carousel.
   Make modification according to your needs. */
@keyframes slideshow {
    0%  { left: 0; }
    10% { left: 0; }
    15% { left: -100%; }
    25% { left: -100%; }
    30% { left: -200%; }
    40% { left: -200%; }
    45% { left: -300%; }
    55% { left: -300%; }
    60% { left: -200%; }
    70% { left: -200%; }
    75% { left: -100%; }
    85% { left: -100%; }
    90% { left: 0%; }
}
/* ----- end of slideshow stylings ----- */

/* ----- carousel control buttons stylings ----- */
.slide-btn {
    background-color: #bbb;
    border-radius: 50%;
    border: .2rem solid #d38800;
    width: 1.2rem;
    height: 1.2rem;
    outline: none;
    cursor: pointer;
    /* stylings for positioning the buttons at
       the bottom of the carousel */
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 70;
}
/* As we provide position as absolute, 
the buttons places one over the other. 
So, we have to place them individually
at their correct positions. */
.slide-btn-1 {
    left: 45%;
}
.slide-btn-2 {
    left: 50%;
}
.slide-btn-3 {
    left: 55%;
}
.slide-btn-4 {
    left: 60%;
}
/* When we focus on the particular button, 
the animation stops to that particular image 
to which the button is associated. */
.slide-btn-1:focus~.slideshow-wrapper {
    animation: none;
    left: 0;
}
.slide-btn-2:focus~.slideshow-wrapper {
    animation: none;
    left: -100%;
}
.slide-btn-3:focus~.slideshow-wrapper {
    animation: none;
    left: -200%;
}
.slide-btn-4:focus~.slideshow-wrapper {
    animation: none;
    left: -300%;
}
/* when we focus on the button, the background color changes */
.slide-btn:focus {
    background-color: #308d46;
}

.main-news{
    margin-top: 5%;
}
.main-news{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.main-news .cr1{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    

}
.main-news .cr1:hover{
    box-shadow: 0 0 15px 0 rgb(184, 27, 27);
}


.hh{
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom:2px solid #308d46  ;
    padding: 0 0 15px 0;  
    color: #fce0e0;
    
}
.main-news .cr1 span{
    color: #fce0e0;
    padding: 10px 5px 10px 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}

.main-news .cr2{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    

}
.main-news .cr2:hover{
    box-shadow: 0 0 15px 0 rgb(184, 27, 27);
}

.main-news .cr2 span{
    color: #fce0e0;
    padding: 10px 5px 10px 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}

.main-news .cr3{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    

}
.main-news .cr3:hover{
    box-shadow: 0 0 15px 0 rgb(184, 27, 27);
}

.main-news .cr3 span{
    color: #fce0e0;
    padding: 10px 5px 10px 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}



