*{
    margin: 0;
    padding: 0;

}

h1{
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: rgb(16, 16, 39);
    background-color: rgb(230, 24, 24);
    padding: 15px;
    box-shadow: 0 0 15px 0 black;
}

.main-news{
    margin-top: 5%;
}
.main-news{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.main-news .cr1{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    

}
.main-news .cr1:hover{
    box-shadow: 0 0 15px 0 rgb(184, 27, 27);
}


.hh{
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom:2px solid #308d46  ;
    padding: 0 0 15px 0;  
    color: #fce0e0;
    
}
.main-news .cr1 span{
    color: #292525;
    padding: 10px 5px 10px 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}

.main-news .cr2{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    

}
.main-news .cr2:hover{
    box-shadow: 0 0 15px 0 rgb(184, 27, 27);
}

.main-news .cr2 span{
    color: #1a1515;
    padding: 10px 5px 10px 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}

.main-news .cr3{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    

}
.main-news .cr3:hover{
    box-shadow: 0 0 15px 0 rgb(184, 27, 27);
}

.main-news .cr3 span{
    color: #080707;
    padding: 10px 5px 10px 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}
